		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-4">
						<ul>
							<li><a href="#">About MoneyTree</a>
								<ul>
									<li><a href="#">Company Overview</a></li>
									<li><a href="#">Press</a></li>
									<li><a href="#">Partnerships</a></li>
									<li><a href="#">Jobs</a></li>
									<li><a href="#">Blog</a></li>
									<li><a href="#">Developers</a></li>
									<li><a href="#">Contact us</a></li>
								</ul>
							</li>
						</ul>
						
						<hr class="visible-xs" />
					</div>
					
					<div class="col-md-3 col-sm-4">
						<ul>
							<li><a href="#">Borrow</a>
								<ul>
									<li><a href="#">Loan types</a></li>
									<li><a href="#">How to get a loan</a></li>
									<li><a href="#">Rates & fees</a></li>
								</ul>
							</li>
						</ul>
						
						<hr class="visible-xs" />
					</div>
					
					<div class="col-md-3 col-sm-4">
						<ul>
							<li><a href="#">Invest</a>
								<ul>
									<li><a href="#">Quick Invest</a></li>
									<li><a href="#">Browse listings</a></li>
									<li><a href="#">Trade notes</a></li>
									<li><a href="#">Marketplace performance</a></li>
									<li><a href="#">Peer to Peer lending</a></li>
									<li><a href="#">Financial professionals</a></li>
								</ul>
							</li>
						</ul>
						
						<hr class="visible-xs" />
					</div>
					
					<div class="col-md-3 col-sm-4">
						<ul>
							<li><a href="#">Legal</a>
								<ul>
									<li><a href="#">Privacy</a></li>
									<li><a href="#">Policies</a></li>
									<li><a href="#">Terms of use</a></li>
									<li><a href="#">Legal agreements</a></li>
									<li><a href="#">Legal compliance</a></li>
									<li><a href="#">Prospectus</a></li>
								</ul>
							</li>
						</ul>
						
						<hr class="visible-xs" />
					</div>
				</div>
				
				
			</div>
			
			<div class="footer-bottom-wrapper">
				<div class="footer-background"></div>
				<div class="copyright">
					<div class="container">
						<div class="row">
							<div class="col-md-8"><p>Copyright © 2015 MoneyTree. All Rights Reserved.</p></div>
							<div class="col-md-4"><p class="policy"><a href="privacy-policy.php">Privacy Policy</a></p></div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		
	</div>
	<!-- including scripts -->
	
	
	<%= javascript_include_tag 'theme' %>
	<%= javascript_include_tag 'jquery-1.9.1.min' %>
	<%= javascript_include_tag 'jquery-ui-custom.min' %>
	<%= javascript_include_tag 'jquery-ui-combo.min' %>
	<%= javascript_include_tag 'autoNumeric.min' %>
	<%= javascript_include_tag 'jquery.maskedinput' %>
	<%= javascript_include_tag 'jquery.validate.min' %>
	<%= javascript_include_tag 'additional-methods.min' %>
	