<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	
	<meta name="author" content="MoneyTree" />
	<meta name="copyright" content="©2015 MoneyTree. All rights reserved." />
	<meta name='description' content='' />
	<meta name='keywords' content='' />
	
	<title>MoneyTree</title>
	
	<!-- Favicon --> 
	<link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>">
	
	
	
	<!-- Smart Form -->
	<!--<link rel="stylesheet" type="text/css"  href="assets/css/smart-forms.css">-->
    <!--<link rel="stylesheet" type="text/css"  href="assets/css/smart-themes/black.css">-->
    <!--<link rel="stylesheet" type="text/css"  href="assets/css/font-awesome.min.css">-->
	<%= stylesheet_link_tag "custome", type: "text/css", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag "smart-forms", type: "text/css", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag "black",type: "text/css", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag "font-awesome.min",type: "text/css", "data-turbolinks-track" => true %>
	<!-- Web style -->
	<%= stylesheet_link_tag "custom", type: "text/css", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "modernizr", "data-turbolinks-track" => true %>
	
	
	<!--<link rel="stylesheet" href="assets/css/layout.css">-->
	
	<!--<script src="assets/js/modernizr.js"></script> <!-- Modernizr -->
	
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
